<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyrantapp.olive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar">
        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <provider
            android:name=".providers.OliveContentProvider"
            android:authorities="com.tyrantapp.olive"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tyrantapp.olive.MainActivity" />
        </activity>
    </application>

</manifest>
