<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyrantapp.olive"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    -->
    <uses-sdk
        tools:overrideLibrary="com.google.android.gms" />

    <!-- Common -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM -->
    <!--
    <permission
        android:name="com.kth.baasio.startup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    -->
    <!--<uses-permission android:name="com.kth.baasio.startup.permission.C2D_MESSAGE" />-->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.tyrantapp.olive.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tyrantapp.olive.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- android:maxSdkVersion="18" -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- android:maxSdkVersion="18" -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
    The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
    Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!-- for GPS -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:name=".OliveApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_signin"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeBlue">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeBlue">
        </activity>
        <activity
            android:name=".PasscodeActivity"
            android:label="@string/title_activity_passcode"
            android:theme="@style/AppThemeBlue">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDark">
        </activity>
        <activity
            android:name=".AddRecipientActivity"
            android:label="@string/title_activity_add_recipient"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeBlue">
        </activity>
        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDark">

            <!-- android:parentActivityName=".MainActivity" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tyrantapp.olive.MainActivity" />
        </activity>

        <activity
            android:name=".KeyCustomizeActivity"
            android:label="@string/title_activity_key_customize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tyrantapp.olive.ConversationActivity" />
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/AppThemeBlue">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BaseActivity" />
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppThemeBlue">
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppThemeDark">
        </activity>

        <provider
            android:name=".provider.OliveContentProvider"
            android:authorities="com.tyrantapp.olive"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.SyncNetworkService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--
          BroadcastReceiver that will receive the C2DM messages from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <!--<receiver-->
            <!--android:name=".receiver.GCMRedirectedBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; Receives the actual messages. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--&lt;!&ndash; Receives the registration id. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.tyrantapp.olive" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name=".receiver.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ConnectionChangeBroadcastReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                 Receives the actual messages.
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                 Receives the registration id.
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tyrantapp.olive" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

    </application>

</manifest>
