<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyrantapp.olive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- Common -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM -->
    <!--
    <permission
        android:name="com.kth.baasio.startup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    -->
    <uses-permission android:name="com.kth.baasio.startup.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- android:maxSdkVersion="18" -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- android:maxSdkVersion="18" -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".OliveApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_signin"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".PasscodeActivity"
            android:label="@string/title_activity_passcode" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <activity
            android:name=".AddRecipientActivity"
            android:label="@string/title_activity_add_recipient"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:windowSoftInputMode="adjustResize" >

            <!-- android:parentActivityName=".MainActivity" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tyrantapp.olive.MainActivity" />
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BaseActivity" />
        </activity>

        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>

        <provider
            android:name=".provider.OliveContentProvider"
            android:authorities="com.tyrantapp.olive"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.SyncNetworkService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--
          BroadcastReceiver that will receive the C2DM messages from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".receiver.GCMRedirectedBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tyrantapp.olive" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".service.GCMIntentService" />

    </application>

</manifest>
